.create-item {
  position: relative;
  display: flex;
  width: 100%;
  // padding: 24px 16px 0;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  flex-grow: 1;
  transition: padding 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  flex-shrink: 0;

  &__name {
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: normal;

    .tag {
      .tag-name {
        margin-left: 20px;
        margin-bottom: -10px;
        margin-top: 5px;
        padding-right: 4px;
        padding-left: 4px;
        font-size: 0.75rem;
        line-height: 20px;
        color: #80848a;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1) !important;
      }
    }
    .DraftEditor-root {
      word-wrap: initial;
    }
    .DraftEditor-editorContainer {
      width: 100%;
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px 20px;
    }

    .public-DraftEditor-content {
      color: #343d46;
      cursor: text;
      font-size: 2.25rem;
      font-weight: 200;
      line-height: 3rem;
    }
    span {
      font-weight: 200 !important;
    }
  }

  &__content {
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -30px;
    flex-grow: 1;

    .DraftEditor-editorContainer {
      width: 100%;
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px 20px;
    }

    .public-DraftEditor-content {
      color: #343d46;
      cursor: text;
      font-size: 1.08rem;
      font-weight: lighter;
      line-height: 2rem;
      word-spacing: 2px;
    }
  }

  &__submit-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 60px;

    .ant-btn-dashed {
      color: rgb(250, 102, 112);
      border-color: #483b3c;
    }
  }
}
