.toc-card {
  // display: grid;
  // /* justify-content: center; */
  // grid-template-columns: 0.5fr 3fr 0.2fr 0.5fr;
  cursor: pointer;

  .ant-list-item {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: 0.5fr 3fr 0.2fr 0.5fr;
  }

  .anticon-like {
    svg {
      height: 100%;
      width: 100%;
      color: #fa8a91;
    }
  }

  hr {
  }

  .cluster-item {
    grid-column: 1/-1;
    margin-left: 12%;

    &-title {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #c89699;

      > .ant-list-item-meta {
        margin-left: 10px;
      }
    }

    &-title:nth-last-of-type() {
      border-bottom: none;
    }
  }

  .ant-list-item-meta-description {
    font-weight: 500;
    color: #252020c4;
  }

  .ant-list-item {
    box-shadow: 1px 1px 1px 1px #efdcdc;
  }

  .ant-list-item:hover {
    box-shadow: 1px 1px 1px 1px #d4bcbc;
    // box-shadow: none;
  }
}

.circle {
  border-radius: 50%;
  width: 100%;
  height: 60%;
  position: relative;
  // background-color: #f66c6d;
  color: #f66c6d;
}
.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #f66c6d;
  height: 1px;
  // margin-top: -5px;
  top: 50%;
  // left: 5px;
  // right: 5px;
  z-index: 9;
  width: 100%;
}
.circle::before {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #f66c6d;
  width: 1px;
  // margin-left: -5px;
  left: 50%;
  // top: 5px;
  // bottom: 5px;
  z-index: 9;
  height: 100%;
}
