.toc-more {
  p {
    border: 1px solid #fa6670;
    /* margin-top: 0; */
    margin: 0px !important;
    padding: 2px 8px;
    margin-bottom: 10px !important;
    cursor: pointer;
  }

  // .ant-popover-placement-right > .ant-popover-content > .ant-popover-arrow,
  // .ant-popover-placement-rightTop > .ant-popover-content > .ant-popover-arrow,
  // .ant-popover-placement-rightBottom > .ant-popover-content > .ant-popover-arrow {
  //   border-bottom-color: black !important;
  //   border-left-color: black !important;
  // }
}

// .ant-popover-arrow {
//   border-bottom-color: inherit !important;
//   border-left-color: inherit !important;
// }
